// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
body {	
	-webkit-background-size: cover;
	background-size: cover;
}
#wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}
footer {
	padding-top: 20px;
	background-color: #34495e;
	color: #fff;
}
.EM{
	width: 300px;
}
.copy {
	padding: 20px;
	background-color: #c0392b;
}
hr {
	border: none ;
	border-bottom: 2px solid gray;
}
.profile{
	width: 248px;
	height: 248px;
}
.td{
	width:120px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
}
.mid{
	margin-left: 20%;
}